.score-edits {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.actions {
  position: absolute;
  right: 20px;
  top: 20px;
}

.background-color, .background-pattern {
  padding: 20px;
}

.page-style {
  margin: auto;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}
