.welcome * {
  width: 600px;
  margin: 20px auto;
}

.welcome .join-room {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}

.join-room input {
  width: 50%;
  float: left;
  font-weight: normal;
  overflow: auto;
}

.join-room button {
  width: 25%;
  font-size: 18px;
  float: right;
  overflow: hidden;
}

.credits {
  margin: 60px auto;
  font-size: 14px;
  text-align: center;
}
